<div class="selection-cell">
  {{faux-checkbox checked disabled=disabled}}
</div>
<div class="file-cell">
  {{file.name}}
</div>
<div class="file-cell">
  {{file.device}}
</div>
<div class="file-cell wide">
  {{file.path}}
</div>
<div class="file-cell status">
  {{file.status}}
</div>
